<p>Ask your coach anything:</p>

<form class="input-group" action="/answer" method="get" data-turbo="false">
  <input class="form-control" type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
